@import '../../../assets/styles/Scroll.scss';

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex: {
        grow: 1;
        shrink: 1;
    }

    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;

    .top {
        width: 100%;
        height: 64px;
        display: flex;

        &:last-child {
            padding-right: 40px;
        }

        .left {
            display: flex;

            flex: {
                grow: 1;
                shrink: 1;
                basis: 50%;
            }

            h1 {
                font-size: 1.3rem;
                font-weight: 600;
                padding-left: 40px;
            }
        }

        .right {
            flex: {
                grow: 1;
                shrink: 1;
                basis: 50%;
            }

            &:last-child {
                padding-right: 40px;
            }

            display: flex;
            align-items:center;
            gap: 16px;
            flex-direction: row-reverse;

            .loginButton {
                background-color: #7856ff;
                font-size: 0.8rem;
                font-weight: 500;

                &:hover {
                    background-color: #9178ff;
                }
            }

            .normalButton {
                background-color: #ffffff;

                &:hover {
                    background-color: #f3f3f4;
                    color: black;
                    border-color: #d9d9d9;
                }

                .shortTitle {
                    display: none;
                }

                @media screen and (max-width: 560px) {
                    .title {
                        display: none;
                    }

                    .shortTitle {
                        display: flex;
                    }
                }
            }

            .icon {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.8rem;
            }


        }
    }

    .searchContainer {
        padding: 0 40px;
        height: 212px;


        .search {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-image: url('https://cdn.boardmix.cn/app/images/assets/home-head-bg.png');
            background-size: contain;
            flex-direction: column;
            display: flex;

            flex: {
                grow: 1;
                shrink: 1;
                basis: 50%;
            }

            div {
                flex: {
                    grow: 1;
                    shrink: 1;
                    basis: 50%;
                }
            }

            .searchTop {
                @extend %flex;

                .searchBox {
                    width: 60%;
                    height: 40px;
                }
            }

            .searchBottom {
                display: flex;
                justify-content: space-around;

                .short {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: 0.8rem;
                        font-weight: bold;
                    }

                }
            }
        }
    }

    .createWhiteBoard {
        padding: 0 40px;
        height: 224px;
        display: flex;
        flex-direction: column;

        .description {
            width: 100%;
            height: 28px;
            margin-top: 24px;
            margin-bottom: 12px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .descriptionCardContainer {
            overflow: auto;
            gap: 24px;
            display: flex;
            position: relative;
            @extend %container;
        }
    }

    .recently {
        padding: 0 40px;
        height: 200px;
        display: flex;
        flex-direction: column;

        .description {
            width: 100%;
            height: 28px;
            margin-top: 28px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 600;

            h5 {
                margin: 0;
                padding: 0;
            }
        }
    }
}