@import '../Flex.scss';

.bottomRight {
    position: fixed;
    bottom: 1%;
    right: 1%;
    height: 44px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;

    .single {
        width: 32px;
        height: 32px;
        @extend %flex;
        background-color: #fff;
        font-size: 1rem;
        margin:0 5px;
        position: relative;

        &:hover {
            background-color: #f3f3f4;
        }
        &::after {
            content: '';
            position: absolute;
            right: -5px;
            height: 90%;
            width: 1px;
            background-color: #eeeef0;
        }
    }
    .active{
        background-color: #f5f3ff;
    }
}