@import '../Flex.scss';

.topLeft {
    position: fixed;
    top: 1%;
    left: 1%;
    height: 44px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;

    .single {
        width: 32px;
        height: 32px;
        @extend %flex;
        background-color: #fff;
        font-size: 1rem;
        margin: 0 5px;
        position: relative;

        &:hover {
            background-color: #f3f3f4;
        }

        &::after {
            content: '';
            position: absolute;
            right: -5px;
            height: 90%;
            width: 1px;
            background-color: #eeeef0;
        }


    }

    .text {
        height: 100%;
        font-size: 0.8rem;
        color: #000;
        font-weight: 500;
        padding: 0 5px;
        @extend %flex;
        &:hover{
            cursor: pointer;
        }
    }

    .active {
        background-color: #f5f3ff;
    }

}

.bottomRight {
    position: fixed;
    bottom: 1%;
    right: 1%;
    height: 44px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;

    .single {
        width: 32px;
        height: 32px;
        @extend %flex;
        background-color: #fff;
        font-size: 1rem;
        margin: 0 5px;
        position: relative;

        &:hover {
            background-color: #f3f3f4;
        }

        &::after {
            content: '';
            position: absolute;
            right: -5px;
            height: 90%;
            width: 1px;
            background-color: #eeeef0;
        }
    }

    .active {
        background-color: #f5f3ff;
    }
}

.bottomLeft {
    position: fixed;
    bottom: 1%;
    left: 1%;
    height: 44px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;

    .single {
        width: 32px;
        height: 32px;
        @extend %flex;
        background-color: #fff;
        font-size: 1rem;
        margin: 0 5px;
        position: relative;

        &:hover {
            background-color: #f3f3f4;
        }

        &::after {
            content: '';
            position: absolute;
            right: -5px;
            height: 90%;
            width: 1px;
            background-color: #eeeef0;
        }
    }

    .active {
        background-color: #f5f3ff;
    }

}

.left {
    position: fixed;
    top: 50%;
    left: 1%;
    width: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    transform: translate(0, -50%);

    .single {
        width: 32px;
        height: 32px;
        @extend %flex;
        background-color: #fff;
        font-size: 1rem;
        margin: 5px 0;
        position: relative;

        &:hover {
            background-color: #f3f3f4;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            width: 90%;
            height: 1px;
            background-color: #eeeef0;
        }
    }

    .active {
        background-color: #f5f3ff;
    }
}
.disabled {
    color:#f3f3f4;
    background-color: #f0f0f1;
    &:hover {
        cursor: not-allowed;
    }
}