.scroll {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .largeContainer {
        width: 10000px;
        height: 10000px;
        overflow: hidden;

        .canvas {
            background-color: #f3f3f5;
        }
    }

    button {
        position: absolute;
        top: 0;
        left: 50%;
    }
}